* {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 100; 
}
 a {
    font-size: large;
 }

 h1 {
    font-size: xx-large; 
    text-align: center;
 }
 .title {
    padding: 8px;
    border-radius: 5px;
 }

 .project-container {
    text-align: center;
    padding: 15px;
    
    display: block;
 }

 .img-container {
    display: block;
    text-align: center;
 }

 @media all and (max-width: 500px) {
   body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
   }
   iframe, img
   {
      width: 100%;
   }
 }