
* {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 100; 
   
}
body {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
}
 a {
    font-size: large;
 }

 h1 {
    font-size: xx-large; 
    text-align: center;
 }
 .title {
    padding: 8px;
    border-radius: 5px;
 }

 .project-container {
    text-align: center;
    padding: 15px;
    background-color: white;
    display: block;
 }

 .iframe-container {
   /* background-color: blue; */
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
   
    
 }

 #rps {
   height: 710px;
   width: 610px;
   overflow:hidden;
 }

 #eas {
   height: 740px;
   width: 610px;
   
 }


 @media all and (max-width: 400px) {
   * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   #rps {
      width: 10px;
   }
 }